recursive-include share *.template  *.html  *.patched *.patched19
include CHANGES TODO
include INSTALL.txt  README.txt README.html INSTALL.html MAN.html
include grid-updates
graft man
graft debian
graft share/example-subscriptions
