Source: grid-updates
Section: net
Priority: optional
Maintainer: Kill Your TV <killyourtv@i2pmail.org>
Build-Depends: pandoc, python (>> 2.5)
Standards-Version: 3.9.2
Vcs-Git: http://darrob.i2p/grid-updates/grid-updates.git
Vcs-Browser: http://darrob.i2p/grid-updates/

Package: grid-updates
Architecture: all
Depends: python (>> 2.5), ${misc:Depends}, ${python:Depends}
Recommends: i2p, i2p-tahoe-lafs
Description: helper script for Tahoe-LAFS
 grid-updates attempts to keep Tahoe-LAFS nodes' configurations up-to-date and
 thereby Tahoe grids as well connected as possible.  It can download lists of
 introducers and display news feeds for grid-related news.
 .
 On some public grids all nodes, even introducers, are run by volunteers and
 may disappear at any given time.  Maintaining a list of all known introducers
 and distributing it to all participants of the grid will decrease the
 possibility that the grid will get disconnected.

